<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="shortcut icon" href="../public/img/icon_bus.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/dashboard.css">
    <link href="css/normalize-card.min.css" type="text/css" rel="stylesheet">
    <link href="css/principal2.css" rel="stylesheet">
    <link href="css/estilos.css" rel="stylesheet">

    <title>elBarrio</title>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md encabezado navbar-light bg-dark sticky-top">
        <div class="container-fluid">
            <a href="#" class="navbar-brand text1">
                <strong>Go</strong>
                <img src="../public/img/icon_bus.ico" height="38px" width="38px">
                <strong>Bus</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form class="form-inline">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </form>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link text-white">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white">Soporte</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white">Ayuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- dashboard -->

    <div class="container-fluid">
        <div class="row">
            <nav class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3 bg-secondary p-1 border-right">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item active">
                            <a href="/dashboard/<%= descripRutas[0].cod_empresa %>" class="nav-link text-light">
                                <i class="fas fa-building"></i> Perfil de Negocios
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/profile/<%= descripRutas[0].cod_empresa %>" class="nav-link text-light">
                                <i class="fas fa-user"></i> Perfil de usuario
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-light">
                                <i class="fas fa-user"></i> Perfil de Emprendedores
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-light">
                                <i class="fas fa-chalkboard-teacher"></i> Reclamar sitio web
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-light">
                                <i class="fas fa-cogs"></i> Configuracion
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/travel/<%= descripRutas[0].cod_empresa %>" class="nav-link text-light">
                                <i class="fas fa-shopping-cart"></i> Comprar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-light">
                                <i class="fas fa-list-alt"></i> Listado de choferes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-light">
                                <i class="fas fa-money-check"></i> Estado de cuenta
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-xs-12 col-sm-12 col-md-10 col-lg-9 col-xl-9 bg-light mh-100 p-5">
                <div id="perfilEmpresa" class="container">
                    <div class="col align-self-center">
                        <div class="row">
                            <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span>Horario de salida</span>
                        <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span>Horario de llegada</span>
                        <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
                    </div> -->
                        </div>

                        <div class="row mt-3">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="comprar-boleto">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Lugar origen</th>
                                            <th scope="col">Lugar destino</th>
                                            <th scope="col">Hora</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i<descripRutas.length; i++) { %>
                                            <tr>
                                                <td>
                                                    <%= descripRutas[i].Origen %>
                                                </td>
                                                <td>
                                                    <%= descripRutas[i].Destino %>
                                                </td>
                                                <td>
                                                    <%= descripRutas[i].Hora %>
                                                        <input type="hidden" id="txt-codigoUsuario" name="txt-codigoruta" value="<%= user.id %>">

                                                </td>
                                            </tr>

                                            <% } %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <select class="form-control" name="slc-empresa" id="slc-empresa">
                            <option selected value="<%= descripRutas[0].cod_empresa %>"><%= descripRutas[0].nombre_empresa %></option>
                        </select>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <select class="form-control" name="slc-rutas" id="slc-rutas">
                            <option value="">Rutas</option>
                            <% for(var i=0; i<descripRutas.length; i++) { %>
                                <option value="<%= descripRutas[i].cod_ruta %>"><%= descripRutas[i].Origen %>-<%= descripRutas[i].Destino %> -<%= descripRutas[i].Hora %></option>
                                
                            <% } %>
                          </select>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">

                                <button id="btnComprar" data-toggle="modal" data-target="#modal2" class="form-control btn btn-primary">Comprar Boleto</button>
                            </div>
                        </div>
                        <br><br>
                        <div id="completo" style="border-color:green;border-style: 8px;background-color:aquamarine"></div>
                    </div>
                </div>
            </main>
        </div>

        <!-- modal -->
        <div class="modal" id="modal2" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><strong>Informacion de Compra</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form>
                                <div class="paymentFormContainer">
                                    <div class="messageContainer">
                                    </div>
                                    <div class="stepHeader">
                                        <h4 class="stepTitle">Configura tu tarjeta de crédito o débito</h4>
                                    </div>
                                    <div class="fieldContainer">
                                        <div class="">
                                            <span class="logos logos-block">
                                        <span class="logoIcon VISA"><img src="../public/img/ico_visa.png"></span>
                                            <span class="logoIcon MASTERCARD"><img src="/public/img/ico_master.png"></span>
                                            <span class="logoIcon AMEX"><img src="/public/img/icon_amex.png"></span>
                                            <span class="logoIcon DISCOVERY"><img src="/public/img/icon_discovery.png"></span>
                                            <span><img src="/public/img/tail_red.gif" style=" width: 25px; height: 25px;"></span>
                                            </span>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <input class="form-control" type="tel" placeholder="Número de tarjeta" class="ui-text-input medium" id="numTarjet">
                                            <br>
                                            <input class="form-control" type="tel" class="ui-text-input medium" placeholder="Fecha de vencimiento (MM/AA)" value="" id="fechaV">
                                            <br>
                                            <input class="form-control" type="tel" data-testid="creditCardSecurityCode" class="ui-text-input medium" placeholder="Código de seguridad (CVV)" id="codigoV">
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class=" modal-footer">
                        <input id="btn-conf-compra" class=" form-control btn-success " type="button" value="Confirmar compra">
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../public/js/jquery.min.js"></script>
        <script src="../public/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script src="../public/js/controlador.js"></script>
        <script>
            function pruebaDivAPdf() {
                var pdf = new jsPDF('p', 'pt', 'A6');
                source = $('#imprimir')[0];

                specialElementHandlers = {
                    '#bypassme': function(element, renderer) {
                        return true
                    }
                };
                margins = {
                    top: 60,
                    bottom: 60,
                    left: 20,
                    right: 20,
                    width: 300
                };

                pdf.fromHTML(
                    source,
                    margins.left, // x coord
                    margins.top, { // y coord
                        'width': margins.width,
                        'elementHandlers': specialElementHandlers
                    },

                    function(dispose) {
                        pdf.save('Prueba.pdf');
                    }, margins
                );
            }
        </script>
</body>

</html>